In [1]:
import pandas as pd
import glob

In [2]:
## This file (combine-CSVs.ipynb) must be in the same directory as the CSV-files ##
csv_files = glob.glob('*.{}'.format('csv'))
csv_files

['Baseline_placebo_CSVs-kopi.csv', 'Baseline_alcohol_CSVs-kopi.csv']

In [5]:
df_append = pd.DataFrame()

#append all files together
for file in csv_files:
            df_temp = pd.read_csv(file) # add 'header=1' if header is on second line
            df_append = df_append.append(df_temp, ignore_index=True)
df_append

,subject_id,block,correctresp,response,trial,RT,accuracy,trialtype
0,18,1,97,97,3,662,1,congurent
1,18,1,97,97,12,884,1,incogurent
2,18,1,108,108,4,934,1,congurent
3,18,1,108,108,11,553,1,incogurent
4,18,1,108,108,5,614,1,congurent
...,...,...,...,...,...,...,...,...
3835,1,6,108,108,11,752,1,incogurent
3836,1,6,97,97,3,681,1,congurent
3837,1,6,97,97,2,566,1,congurent
3838,1,6,108,108,10,919,1,incogurent
3839,1,6,108,108,5,670,1,congurent

In [6]:
df_append.to_csv('Baseline-All_CSVs.csv',index=False)